<!--header start-->
{include file="common\head"}
<!--header end-->

<!--container start-->
<div class="container " id="">
    <div class="text-center" style="margin: 60px;">
        <img src="/static/image/farmer.c3c73b55.png" height="250">
        <h2>选择一个农场</h2>
        <br>
        <h5>质押参与挖矿 赚取TT</h5>
        <br>
        <h5>tomato-defi.me的智能合约已通过成都链安审计，检查审计报告<a href="https://www.tomato-defi.me/TT.pdf" target="_blank">此处</a></h5>
        <h5>TT代币地址：TAQk2zz3wuRgZvPDFy4VPpzx8gXMEYofHF</h5>
        <h5>LEMON代币地址：TWS955ouiKWEpLrrWqztGVNvqNvxexMVNw</h5>

        <a href="https://justswap.org/#/scan/detail/trx/TWS955ouiKWEpLrrWqztGVNvqNvxexMVNw" target="_blank" style="height: 44px; line-height: 42px;">
            <input type="button" name="JustSwap LEMON-TRX" value="JustSwap LEMON-TRX" style="background-color:#f4602c; color: white; font-size: 18px; width: 260px; height: 40px; border-radius: 8px; border: none; margin-top: 20px;">
        </a>
        <!--<span> JustSwap LEMON-TRX </span></a>-->
    </div>
</div>
<!-- 
<div class="container" style="border:1px solid red;">
    <div class="row">
        <div class="col-md-4" style="text-align: center;border:1px solid green;">
           <div class="row"> -->
<!-- <div class="top">
                <div class="col-md-3" style="text-align: right;">
                    <img src="/static/image/farmer.c3c73b55.png" height="80">
                </div>
                <div class="col-md-8" style="text-align: center;">
                    <h2>USDT</h2>
                    <p>质押 USDT 赚取 TT</p>
                </div>
            </div> -->
<!-- <div class="middle" style="text-align: ctenter;">
                <a href="https://www.tomato-defi.me/#/farm-detail/USDT?status=1" target="_self"></a> -->
<!-- <input type="button" name="选择" value="选择" style="background-color:#FF5511; color: white;height: 50px; width: 300px;"> -->
<!-- </div> -->
<!-- <hr> -->
<!-- <div class=""> -->
<!-- <span>当前年化收益率</span><span> 0.00%</span> -->
<!-- <p>当前总存入 0.0000USDT</p>
                    <p>当前可分配 0.0000TT</p> -->
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->

<!-- <div class="col-md-4">.col-md-4</div> -->

<!-- <div class="col-md-4">.col-md-4</div> -->
<!-- </div> -->
<!-- </div> -->



<div class="container">
    <div class="row">
        <div class="col-md-4" style="background-color:white; width: 350px; height: 380px; border-radius: 8px;">
            <div class="module">
                <div class="mod1">
                    <img src="/static/image/USDT.6ac593c2.png" height="60" style="margin-top:30px;  padding-left:15px;">
                    <!--margin属性定位-->
                    <div class="r" style="font-size:14px; margin-top:-80px; padding-left:90px;">
                        <h3>USDT</h3>
                        <p>质押 USDT 赚取 TT</p>
                    </div>
                </div>
                <div class="butts" style="text-align: center; margin-top: 45px;">
                    <a href="/index/index/usdt" target="_self" class="btn btn-default" style="width: 300px; height: 40px;line-height: 30px;
        color: #fff;font-size: 16px;background-color: #f4602c;border: 0;border-radius: 8px;">
                        <span>查看农场</span></a>
                    <!-- <button type="button" style="height: 40px; width: 300px; background-color: tomato; color: white; font-size: 18px; border-radius: 5px; border: none;">
                       <a href="/index/index/usdt"><span style="color: white;">选择</span></a>  -->
                    </button>
                </div>
                <div class="mod2" style="margin-top: 55px;">
                    <div class="yield">
                        <span style="margin-left: 11px; font-size: 12px; color:dimgrey;">当前年化收益率</span>
                        <span style="margin-left: 170px; color: blue;">0.00%</span>
                    </div>
                    <div class="total" style="background:radial-gradient(white,#f0d0d4); width: 300px; height: 70px; border-radius: 5px; margin: 0 auto; margin-top: 15px ">
                        <div class="a" style="line-height: 35px;">
                            <span style="margin-left:13px; font-size: 10px; color: dimgrey;">当前总存入</span>
                            <span style="margin-left:135px; font-size: 10px;">0.0000 USDT</span><br>

                            <span style="margin-left:13px ; font-size: 10px; color: dimgrey;">当前可分配</span>
                            <span style="margin-left:152px ; font-size: 10px;">0.0000 TT</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!--container end-->
    <!--footer start-->
    {include file="common\foot"}
    <!--focoter end-->