<!--header start-->
{include file="common\head"}
<!--header end-->

<!--container start-->
<div class="container" id="">
    <div class="text-center" style="margin: 80px 0;">
        <img src="/static/image/farmer.c3c73b55.png" height="284">
        <h2>今天是个挖 Tomato 的好日子</h2>
        <p class="login"> 你需要安装并登录 <a target="_blank" href="https://chrome.google.com/webstore/detail/tronlink%EF%BC%88%E6%B3%A2%E5%AE%9D%E9%92%B1%E5%8C%85%EF%BC%89/ibnejdfjmmkpcnlpebklmnkoeoihofec">TronLink（波宝钱包）</a> 才能操作 </p>
    </div>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4" style="background-color: rgb(255,253,253);margin-right: 10px;border-radius: 12px;">
            <div class="left" style="float: left;width: 20%;border-radius: 12px;">
                <img src="/static/image/product.c6b6671c.png" height="64" width="64" style="margin: 25px 10px;">
            </div>
            <div class="right" style="float: right;width: 70%;margin-top:19px; ">
                <p style="font-size:28px;line-height: 28px;">0.0000</p><br>
                <span style="font-size:20px;line-height: 20px;">我的lovelydog余额</span>
            </div>
        </div>

        <div class="col-lg-4" style="background-color: rgb(255,253,253);margin-left: 10px;border-radius: 12px;">
            <div class="text-left">
                <div class="left" style="float: left;width: 20%;">
                    <img src="/static/image/total.8e2b82f9.png" height="64" width="64" style="margin: 25px 10px;">
                </div>
                <div class="right" style="float: right;width: 70%;margin-top:19px; ">
                    <p style="font-size:28px;line-height: 28px;">1000000</p><br>
                    <span style="font-size:20px;line-height: 20px;">总供应量</span>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container text-center" style="margin:9% auto">
    <a href="/index/index/farm" target="_self" class="btn btn-default" style="width: 182px; height: 50px;line-height: 40px;
        color: #fff;font-size: 16px;background-color: #f4602c;border: 0;border-radius: 8px;">
        <span>查看农场</span></a>
</div>
<!--container end-->
<!--footer start-->
{include file="common\foot"}
<!--footer end-->