<!--header end-->
{include file="common\head"}
<!--main start-->
<div class="main row " style="height: 78px; text-align: center !important;margin-top: 50px;margin-bottom: 12px">
    <div class="navbar-collapse collapse" style="margin-top: 50px; text-align: center;">
        <div class="" style="float:initial;">
            <!--     logo_img       -->
            <img src="/static/image/farmer.c3c73b55.png" style="height:240px; width:auto;"/>
        </div>
        <h2 style="margin-top: 50px;margin-button:12px;">常见问题</h2>
    </div>
    <div class="faq col-md-12">
        <div class="col-md-8" style="width: 899px;float: initial;background: #fff;
        /*box-shadow: 0 0 56px 0 rgb(0 0 0 /13%);*/
        border-radius: 7px;
        text-align: left;
        margin: 42px auto 0;
        padding: 18px 36px;">
            <ul class="row"
                style="display: block;list-style-type: disc; margin-block-start: 1em; margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;padding-inline-start: 40px;">
                <li><h3>1、手续费收取规则是什么?</h3>
                    <p>
                        USDT、JST、SUN、HT、BTC、PEARL、LEMON七个池子质押和解质押将收取本金的5%作为手续费，其中20%用于平台日常维护费用，80%将用于运营为TT增值，提高收益率。TT/TRX
                        LP池不收手续费。 </p></li>
                <hr/>
                <li><h3>2、TT、LEMON的地址是什么?</h3>
                    <p> TT地址：TAQk2zz3wuRgZvPDFy4VPpzx8gXMEYofHF<br/>
                        LEMON地址：TWS955ouiKWEpLrrWqztGVNvqNvxexMVNw<br/>
                        温馨提示，请认准以上TT、LEMON地址，谨防假币 </p>
                </li>
                <hr/>
                <li><h3>3、每个矿池的地址和出矿数量是什么?</h3>
                    <!--        img_address            -->
                    <p><img src="/static/image/address.6f96f635.png" style="width: 750px;height: 342.72px"
                            alt="827x342.72"/></p></li>
                <li><h3>4、我该如何挖出Tomato?</h3>
                    <p> 您将需要使用TronLink来开采Tomato。选择农园，然后单击批准。等待几秒钟后，您将看到质押选项。 </p></li>
                <hr/>
                <li><h3>5、为什么我的收入无法显示?</h3>
                    <p> 显示的最小值为4位数字。如果您刚质押代币不久，请耐心等待。 </p></li>
                <hr/>
                <li><h3>6、为何网站上的数字显示会出现延迟?</h3>
                    <p> 在打开网站时，本网站将尝试与TronLink进行连接。
                        Tronlink在显示资产一般都回出现延迟，Tronlink经更新后，更新的数字就能显示在网站上。 </p></li>
                <hr/>
                <li><h3>7、我该如何使用H5版本？</h3>
                    <p> 建议使用BitKeep或TokenPocket钱包，进入DAPP浏览器，输入访问地址即可使用。 </p></li>
                <hr/>
                <li><h3>8、我该如何提款并撤资?</h3>
                    <p> 单击提款并撤资按钮，在该矿池的所有抵押资产和收入将转移到您的TronLink地址。 </p></li>
                <hr/>
                <li><h3>9、Tomato会在JustSwap上市吗?</h3>
                    <p> 会 </p></li>
            </ul>
        </div>
    </div>
</div>
{include file="common\foot"}
<!--main end-->

<!--<div class="" style="height: 78px; align-content: center !important;margin-top: 50px;margin-bottom: 12px">-->

<!--    &lt;!&ndash;        <div class="col-xs-8" style="float:initial;">&ndash;&gt;-->
<!--    &lt;!&ndash;            <h2 style="margin-top: 50px;margin-button:12px;">常见问题</h2>&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--</div>-->
<!--footer start-->

<!--footer end-->