<!--header start-->
{include file="common\head"}
<!--header end-->

<!--container start-->
<div class="container">
    <div class="text-center" style="margin: 80px 0;">
        <img src="/static/image/farmer.c3c73b55.png" height="284">
        <h2>USDT</h2>
        <h4>质押USDT 赚取TT</h4>
        <p class="login"> 你需要安装并登录 <a target="_blank" href="https://chrome.google.com/webstore/detail/tronlink%EF%BC%88%E6%B3%A2%E5%AE%9D%E9%92%B1%E5%8C%85%EF%BC%89/ibnejdfjmmkpcnlpebklmnkoeoihofec">TronLink（波宝钱包）</a> 才能操作 </p>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3" style="background-color: white;  height: 350px; border-radius: 7px;right: 10px;">
            <div class="mod2">
                <img src="/static/image/TT.c7c7ac1d.png" height="60" style="margin-top:50px; padding-left: 100px;">
                <div class="r" style="font-size:14px; margin-top:50px; padding-left:0px; text-align: center;">
                    <h1>0.0000</h1>
                    <p style="font-size: 15px;">TT 已产出</p>
                </div>
                <div class="a text-center" style="background-color:#ffe4e1; width: 260px; height: 45px;border-radius: 7px; margin-top: 50px; border:none;">
                    <span style="line-height: 45px; font-size: 16px; color:tomato;">收获</span>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="background-color: white;  height: 350px; border-radius: 7px; left: 10px;">
            <div class="mod3">
                <img src="/static/image/USDT.6ac593c2.png" height="60" style="margin-top:50px; padding-left: 100px;">
                <div class="r" style="font-size:14px; margin-top:50px; padding-left:0px; text-align: center;">
                    <h1>0.0000</h1>
                    <p style="font-size: 15px;">USDT 已质押</p>
                </div>
                <div class="a text-center" style="background-color:#ffe4e1; width: 260px; height: 45px;border-radius: 7px; margin-top: 50px; border:none;">
                    <span style="line-height: 45px; font-size: 16px; color:tomato;">授权USDT</span>
                </div>
            </div>
        </div>

    </div>
    <div class="mod4 text-center" style="background-color:#ffe4e1; width: 605px; height: 45px;border-radius: 7px;  margin: 60px auto;">
        <span style="line-height: 50px; color: tomato;">收获和解质押</span>
    </div>

</div>
<!-- 
<div class="container "> -->
<!-- <div class="row " style="border:1px solid red;"> -->

<!-- </div> -->
<!-- </div> -->

<!--container end-->
<!--footer start-->
{include file="common\foot"}
<!--footer end-->